.container{
  background-image: url(../../assets/bg.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: #f6f6f6 4px solid;
    background: #1f1f1f59;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur( 8.5px );
    border-radius: 16px;
    max-width: 480px;
    width: 100%;
    max-height: 720px;
    height: 100%;
    img{
      width: 400px;
    }
    p{
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
    button{
      border:none;
      border-radius: 6px;
      width: 160px;
      height: 48px;
      font-size: 20px;
      font-weight: 500;
      background-color: #ffffff;
      &:hover{
        background-color: #eaeaea;
        color:#000;
      }

    }


  }

}


// Resposividade

@media screen and (max-width: 570px) {

.content{
    max-width: 400px!important;
    max-height: 640px!important;
    img{
      width: 320px!important;
    }
}

}

@media screen and (max-width: 425px) {

  .content{
      max-width: 300px!important;
      max-height: 520px!important;
      img{
        width: 280px!important;
      }
      p{
        font-size: 16px;
      }
  }

  }


